[submodule "backend"]
	path = backend
	url = git@github.com:FatecCoderHood/6_back.git
	branch = release
[submodule "frontend"]
	path = frontend
	url = git@github.com:FatecCoderHood/6_front.git
	branch = release
